<!DOCTYPE HTML>
<html>

<head>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
    url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
	<!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <!-- My scripts -->
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
</head>

<body>

    <!-- Title -->
    <div align="center" style="font-family: 'Open Sans', sans-serif;">
        <h1> MP3 Player </h1>
    </div>

    <div align="left">
        <button id="Play"  type="button" class="btn btn-dark"> Play  </button>
        <button id="Pause" type="button" class="btn btn-dark"> Pause </button>
        <button id="Stop"  type="button" class="btn btn-dark"> Stop  </button>
        <button id="Prev"  type="button" class="btn btn-dark"> Prev  </button>
        <button id="Next"  type="button" class="btn btn-dark"> Next  </button>
    </div>

    <div id="terminal" align="right" style="box-sizing: border-box;">
    </div>

    <script type=text/javascript>

        // On click call update
        $('button#Play').bind('click', update);
        // Test function
        var update = function() {
            $.getJSON($SCRIPT_ROOT + '/_play', {
            }, function(data) {
                var new_row = document.createElement('div');
                new_row.innerHTML = data.result;
                document.getElementById("terminal").appendChild(new_row);
            });
            return false;
        };

        const interval = 1000;

        // Call update on interval
        setInterval(function() {
            $.getJSON($SCRIPT_ROOT + '/_update', {
            }, function(data) {
                var new_row = document.createElement('div');
                new_row.innerHTML = data.result;
                document.getElementById("terminal").appendChild(new_row);
            })
        },
        interval);

    </script>

</body>

</html>